---
layout: page
title: "About"
description: "Hey, this is Ksbc."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
         万相归一，好好学习
    </blockquote>
    我本科学的是物理，但我一直对计算机编程、单片机、电子电路抱有浓厚的兴趣。我在大一就加入了学校的电子协会，在社团里我对于单片机有了初步了解。
    后来我们开设了C语言课程，没错，我们物理的学生也学C语言。当时有期末大作业，老师给出了难易不同的题目，我直接选择了最难的那道题，
    那道题是一个学生成绩录入程序，涉及到文件的生成与读取。有一部分知识老师并没有教，于是我就翻书查资料自学。经过不断的尝试，最后程序成功运行，
    那是我第一次体会到对于陌生知识，经过研究探索，最后实现的成就感。也大大改变了对于学习的看法，即基于兴趣的<strong>目标驱动式学习</strong>更适合我。<br></br>
    
    后来我开始自学<a href="https://baike.baidu.com/item/Arduino/9362389?fr=aladdin">Arduino</a>单片机。
    有了C语言、电子电路、单片机的知识基础，我很快就上手了这款单片机。在大三的学期末，我们需要交一个课程设计，
    当时我就是用这单片机做了一个<a href="http://v.youku.com/v_show/id_XMTI4MDA3NTM0MA==.html?spm=a2h3j.8428770.3416059.1">激光电报机</a>。
    这个作品涉及传感器的使用、莫尔斯码通信协议等知识，经过五天的不断尝试，终于实现了两台电报机互相通信。<br></br>

    到了大四， 我到了一家创客公司实习，从事创客教具的研发。通过目的驱动式的学习，我快速入门了物体结构设计，3D建模、电路板设计、激光切割。
    期间做了<a href="https://v.qq.com/x/page/b0196e5sgnk.html">智能小车瓦力</a>、
    <a href="http://ww1.sinaimg.cn/large/bd31b54fgy1fih8bcs7u2j21ww2pg7wj.jpg">智能花盆</a>等产品。毕业后我直接留在了这家公司。
    直到毕业半年后，我开始意识到，那份工作开始有了重复，并且渐渐偏离了我原来的初衷，于是我辞职了。<br></br>

    辞职后我在家里自学Python语言。
    在此期间，我学习了Python的基本语法、常用的网络爬虫库、数据库的基本操作，同时掌握了linux系统的基本使用、vim编辑器的使用、Git及GitHub的使用，
    学习搭建了基于flask的<a href="http://blog.ksbc24.cn">博客网站</a>，了解了基本的网络前端知识、网络通信的基本过程。<br></br>

    目前，我急需一份<strong>Python初级工程师</strong>的工作来进一步提高自己的能力。

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        All truth is one，it is the voice of life, which calls us to come and learn.
    </blockquote>

    My Bachelor Degree is physics, but I always be interested in the computer programming, microcontroller, electronic circuits have a strong interest. I joined the school in the freshman's electronic association, in the community I have a preliminary understanding of the microcontroller.
    Later, we opened a C language courses, yes, our physical students also learn C language. At that time there is the end of large operations, the teacher gives a difficult problem, I directly chose the most difficult that way,
    That question is a student achievement entry procedure, involving the generation and reading of the document. There is a part of the knowledge teacher did not teach, so I turned the book study data self-study. After a constant attempt, the final successful operation of the program,
    It was the first time I realized for unfamiliar knowledge, through research and exploration, the final realization of the sense of accomplishment. But also greatly changed the view of learning, that is, interest-based <strong> goal-driven learning </ strong> more suitable for me. <br> </br>
    
    Then I started self-learning <a href="https://baike.baidu.com/item/Arduino/9362389?fr=aladdin"> Arduino </a> microcontroller.
    With C language, electronic circuits, single-chip knowledge base, I quickly got started with this microcontroller. At the end of the junior year, we need to pay a course design,
    At that time I was using this microcontroller to do a <a href="http://v.youku.com/v_show/id_XMTI4MDA3NTM0MA==.html?spm=a2h3j.8428770.3416059.1"> laser telegraph machine </a>.
    This work involves the use of sensors, Morse code communication protocol and other knowledge, after five days of continuous attempt, and finally realized the two telegraph communication with each other. <br> </br>

    To the senior, I went to a Chuangxing company internship, engaged in a pioneer teaching aids. Through the purpose of driving learning, I quickly started the object structure design, 3D modeling, circuit board design, laser cutting.
    During the <a href="https://v.qq.com/x/page/b0196e5sgnk.html"> smart trolley force </a>,
    <a href="http://ww1.sinaimg.cn/large/bd31b54fgy1fih8bcs7u2j21ww2pg7wj.jpg"> smart pots </a> and other products. After graduation I left the company directly.
    Until six months after graduation, I began to realize that the job began to repeat, and gradually deviated from my original intention, so I resigned. <br> </br>

    After graduation, I studied Python at home.
    In the meantime, I learned the basic grammar of Python, the commonly used web crawler library, the basic operation of the database, while mastering the basic use of linux system, vim editor use, Git and GitHub use,
    Learn to build a web-based <a href="http://blog.ksbc24.cn"> blog site </a> to learn the basics of basic web front-end knowledge and network communications. <br> </br>

    At present, I need a <strong> Python junior engineer </ strong> to further improve my ability.

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
